body {
  background-color: white;
}
.header {

}
.header__title {
  text-align: center;
  color: #640477;
  font-size: 45px;
}
.main-nav {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.main-nav li {
  margin: 10px;
  min-width: 100px;
  text-align: center;
}
.main-nav a {
  display: block;
  background-color: #640477;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}
.main-nav a:hover {
  background-color: #962fb5;
}

.body {
  min-height: 450px;
}
.body-title {
  text-align: center;
  font-size: 25px;
}
.body-list{
  list-style: none;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.body-list-item {
  width: 220px;
  height: 30px;
  overflow: hidden;
  margin: 15px 5px;
  border: 1px solid black;
  text-align: center;
  padding-top: 10px;
}
.footer {
  font-size: 12px;
  text-align: center;
}
